.main-name {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.main-link-name {
  margin-top: 1rem;
}

.table {
   margin-bottom: 0px;
}

body {
  background-color: whitesmoke;
}

.container {
  background-color: ghostwhite;
}

#wpwrap {
    background-color: #f4f5fa;
}
